body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

#form-box {
    width: 30% !important;
    background: rgba(42, 123, 148, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-button {
    display: flex;
    justify-content: end;
}

#submit-button > button {
    margin: 0 !important;
    background: teal;
    border: none;
}

#submit-button > button:hover {
    background: seagreen;
}
